@font-face {
  font-family: "Yu Gothic";
  src: url(../../fonts/YUGOTHB.TTC);
}
/**
* @file _reset.scss
**/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  border: 0;
}

a {
  font-size: 16px;
  color: #351A0E;
}

html {
  scroll-behavior: smooth;
  font-family: "Yu Gothic";
  background-color: #FAFAFA;
}

body {
  font-family: "Yu Gothic";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
  margin-bottom: 0;
}

ol,
ul {
  list-style: none;
}

*:focus {
  outline: none;
}

blockquote,
q {
  quotes: none;
}
blockquote::before, blockquote::after,
q::before,
q::after {
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

button {
  cursor: pointer;
  border: 0;
  outline: none;
}

table td,
table th {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  visibility: visible !important;
}

input:focus {
  outline: 0;
}

td,
th,
tr {
  vertical-align: middle;
}

*,
dd,
dl,
dt,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
img,
ol,
picture,
table,
ul {
  margin: 0;
}

ol,
ul {
  padding: 0;
  list-style-type: none;
}

textarea {
  resize: vertical;
}

fieldset,
legend {
  padding: 0;
}

figure {
  display: flex;
  align-items: center;
  justify-content: center;
}

/**
* @file _common.scss
**/
.is-pc {
  display: block;
}
@media screen and (max-width: 768px) {
  .is-pc {
    display: none !important;
  }
}

.is-sp {
  display: none !important;
}
@media screen and (max-width: 768px) {
  .is-sp {
    display: block !important;
  }
}

.__container {
  width: 950px;
  padding-right: 25px;
  padding-left: 25px;
}

.__question {
  display: none;
}

.__none {
  display: none !important;
}

.__contactus {
  display: none !important;
}

.c-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: fixed;
  z-index: 9999;
}
.c-header .c-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
}
.c-header .c-header__inner .__link-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.c-footer-copyWrite {
  text-align: center;
  padding: 15px;
  color: white;
  background-color: #00C1FB;
}

#top {
  padding-top: 150px;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  min-height: 100vh;
}
#top .p-fv {
  display: flex;
  align-items: center;
  justify-content: center;
}
#top .p-fv .__container {
  max-width: 580px;
}
#top .p-chatting-area {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}
#top .p-chatting-area .__map {
  display: none;
  margin-bottom: 30px;
}
#top .p-chatting-area .__question {
  margin-bottom: 60px;
}
#top .p-chatting-area .__question .__question-area {
  display: flex;
  align-items: center;
  gap: 30px;
}
#top .p-chatting-area .__question .__question-area .__question-img {
  width: 110px;
}
#top .p-chatting-area .__question .__question-area .__question-main {
  max-width: 500px;
}
#top .p-chatting-area .__question .__question-area .__question-main .__name {
  font-size: 16px;
  font-weight: 600;
  color: #00C1FB;
  padding-bottom: 10px;
}
#top .p-chatting-area .__question .__question-area .__question-main .q__main-ctn {
  font-size: 18px;
  font-weight: normal;
  position: relative;
  display: inline-block;
  padding: 18px 21px;
  min-width: 120px;
  color: #00C1FB;
  font-size: 16px;
  background: #FFF;
  box-sizing: border-box;
  border: solid 2px #00C1FB;
  border-radius: 12px;
}
#top .p-chatting-area .__question .__question-area .__question-main .q__main-ctn::before {
  content: "";
  position: absolute;
  top: 35%;
  left: -21px;
  margin-top: -10px;
  border: 10px solid transparent;
  border-right: 13px solid #FFF;
  z-index: 2;
}
#top .p-chatting-area .__question .__question-area .__question-main .q__main-ctn::after {
  content: "";
  position: absolute;
  top: 40%;
  left: -26px;
  margin-top: -16px;
  border: 12px solid transparent;
  border-right: 14px solid #00C1FB;
  z-index: 0;
}
#top .p-chatting-area .__question .__makeanswer {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 25px;
  border-radius: 10px;
  background-image: url(../img/bg_makeanswer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  gap: 25px;
  width: -moz-max-content;
  width: max-content;
}
#top .p-chatting-area .__question .__makeanswer .__makeanswer-item {
  width: 270px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}
#top .p-chatting-area .__question .__makeanswer .__makeanswer-item:hover {
  background-color: #ececec;
}
#top .p-chatting-area .__question .__makeanswer .__makeanswer-item .__item-img {
  padding: 25px;
  padding-bottom: 0;
}
#top .p-chatting-area .__question .__makeanswer .__makeanswer-item .__item-img img {
  width: 166px;
  height: 166px;
}
#top .p-chatting-area .__question .__makeanswer .__makeanswer-item .__item-ttl {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 15px;
}
#top .p-chatting-area .__question .__makeanswer .__makeanswer-item .__item-ttl .__ttl {
  font-size: 16px;
  color: #00C1FB;
  font-weight: 600;
}
#top .p-chatting-area .__answer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 50px;
  color: white;
  margin-bottom: 60px;
}
#top .p-chatting-area .__answer span {
  font-weight: 600;
}
#top .p-chatting-area .__answer .__answer-main {
  position: relative;
  display: inline-block;
  margin: 1.5em 15px 0px 0;
  padding: 18px 30px;
  min-width: 120px;
  max-width: 100%;
  color: #fff;
  font-size: 16px;
  background: #61D6F9;
  box-sizing: border-box;
  border-radius: 10px;
}
#top .p-chatting-area .__answer .__answer-main > figure {
  position: absolute;
  width: 15px;
  top: 39px;
  right: 10px;
  cursor: pointer;
}
#top .p-chatting-area .__answer .__answer-main::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-left: 12px solid #61D6F9;
  z-index: 2;
}
#top .p-chatting-area .__contactus {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 90px;
  margin-bottom: 60px;
}
#top .p-chatting-area .__contactus .__form {
  width: 100%;
  padding: 15px 35px;
  border-radius: 10px;
  background-image: url(../img/bg_contactus.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#top .p-chatting-area .__contactus .__form input {
  font-size: 16px;
  padding: 5px 25px;
  width: 100%;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 5px;
}
#top .p-chatting-area .__contactus .__form .__form-ttl {
  font-size: 16px;
  color: #00C1FB;
  font-weight: 600;
  padding-bottom: 12px;
}
#top .p-chatting-area .__contactus .__form .__form-ctn {
  font-size: 16px;
  color: #00C1FB;
  font-weight: 600;
}
#top .p-chatting-area .__contactus .__btn {
  padding: 16px 50px;
  border-radius: 10px;
  color: #000000;
  font-weight: 600;
  border: 1px solid white;
  font-size: 14px;
  background-image: url(../img/bg_contactus.jpg);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2509803922);
  cursor: pointer;
  transition: transform 0.3s;
}
#top .p-chatting-area .__contactus .__btn:hover {
  transform: scale(1.2);
}/*# sourceMappingURL=style.css.map */